<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#000000">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/hack-font@3/build/web/hack.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paper-css/0.4.1/paper.css">
    <link rel="stylesheet" href="{{ root }}/reset.css">
    <link rel="stylesheet" href="{{ root }}/common.css">
    <link rel="stylesheet" href="{{ root }}/{% block template %}{% endblock %}.css">
    <style>
        :root {
            font-size: {{ style.scale | d("1.0")}}rem; /* the browser's default is 16px = 1rem */
        }
    </style>
    <title>{{ name }}</title>
</head>

<body class="letter">
    <div class="sheet padding-15mm container">

        {% block content %}{% endblock %}

    </div>
</body>

</html>
