{% extends "base.html.j2" %}

{% block version %}{{ now.strftime('%Y-%m-%d') }}{% endblock %}

{% block content %}
<div class="section work_history">
    <h2># Work History & Experience</h2>

    {% for item in work_items %}
    <div class="tile">
        <header>
            <span class="title">{{ item.job_title }}</span>
            <span class="company">{{ item.organization }}</span>
            <span class="dates">Nov. 2012 - Mar. 2014</span>
        </header>

        {% for line in item.body %}
        {% if line is string %}
        <p>{{ line }}</p>
        {% else %}
        <ul>
            {% for list_item in line %}
            <li>{{ list_item }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}

</div>

<div class="section">
    <h2># Formal Education</h2>

    {% for item in education_items %}
    <div class="tile">
        <header>
            <span class="degree">{{ item.degree }} in {{ item.area }}</span>
            <span class="school">{{ item.organization }}</span>
            <span class="dates">{{ item.date }}</span>
        </header>

        {% for line in item.body %}
        {% if line is string %}
        <p>{{ line }}</p>
        {% else %}
        <ul>
            {% for list_item in line %}
            <li>{{ list_item }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}
